.ytb_ui {
    display: flex;
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
/* .ytb_ui.grid{
    width: 100%;
}
.ytb_ui.list{
    width: 100%;
} */

.ytb_ui .ui_thumb {
    width: 160px;
    height: 100px;
    background: #eee;
    animation: load 1s infinite;
}

.ytb_ui .ui_thumb .thumb_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ytb_ui .ui_content {
    padding-left: 10px;
    font-family: sans_serif;
}

.ytb_ui .ui_content .content_title {
    font-weight: bold;
    font-size: 15.5px;
    color: #000;
}

.ytb_ui .ui_content .content_channel {
    font-size: 14px;
    color: #555;
}
.ytb_ui .ui_content .content_description {
    font-size: 1.0rem;
    color: #000;
    font-weight: 400;
}
.ytb_ui .ui_content .content_channel span {
    display: block;
    margin-top: 5px;
}

