.App {
  max-width: 90rem;
}
.content{
  display: flex;
}
.detail{
  flex: 1 1 70%;
}
.list{
  flex: 1 1 10%;
  min-width: 30%;
}
@media screen and (max-width: 1020px){
  .content{
    flex-direction: column;
  }
}

